.container
  .row
    .span12
      .well
        h2 Create or Join a Game!
        ul.unstyled
          li(ng-repeat='(id, lobby) in lobbies')
            button.btn.btn-large.btn-success(ng-click='joinLobby(id)') Join Game {{lobby.name}}
        hr
        fieldset
          button.btn.btn-large(ng-click='newLobby()') Start a Game
