/* app css stylesheet */

game {
  display: inline-block;
  position: relative;
  line-height: 0;
  border: 1px solid #000;
  overflow: hidden;
}

.fullscreen game {
  display: block;
  position: fixed;
  
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  border: none;

  z-index: 99998;
}

game .back {
  display: block;
  position: absolute;
  
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  z-index: -10;

  background-color: rgb(128,128,128);
}

game .shop {
  position: absolute;
  bottom: 0;
  left: 0;
}

game .map {
  position: absolute;
  z-index: -1;
  /*background-color: rgb(128,128,128);*/
}

game .background {
  position: absolute;
  z-index: -2;
  max-width: none;
  /*background-color: rgb(128,128,128);*/
}

restart-dialog {
  display: block;
  position: fixed;

  text-align: center;
  
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  z-index: 99999;

  padding: 50px;
  margin: 50px;

  background-color: #fff; /* fallback */
  background-color: rgba(255,255,255,0.8);
}

restart-dialog.hidden {
  z-index: -1;
  display: none;
}

body {
  padding-top: 50px;
}
