canvas.sprites
canvas.map(style="left: 0; top: 0;")
img.background(src='/img/gray2.png', style="left: 0; top: 0; width: 3840px; height: 1080px;")
img.background(src='/img/black2.png', style="left: 0; top: 50px; width: 3840px; height: 1080px;")
//- button.btn.shop(ng-click='showShop=true', ng-hide='showShop') Shop
//- .back
